<!DOCTYPE html>
<html>
    <head>
        <title>ChatReport | Create User</title>
        <include-html("../utils/header.html") />
    </head>
    <body>
        <div class="columns">
            <div class="box full-width centered-text scroll-overflow-y columns">
                <form action="/admin/users/create" method="POST">
                    <if(input.status != null)>
                        <div class="box full-width centered-text " + input.status>${input.message}</div>
                    </if>
                    <h1>Create User</h1>

                    <fieldset>
                            <label for="username">Username</label>
                            <input type="text" name="username" />

                            <label for="password">Password</label>
                            <input type="password" name="password" />

                            <input type="submit" class="button-primary" value="Create Account" />

                        <input type="hidden" name="_csrf" value=input.csrfToken>
                    </fieldset>

                    <a href="/admin/users">Go Back to User Management</a>
                </form>
            </div>
        </div>

    </body>
</html>