<!DOCTYPE html>
<html>
    <head>
        <title>ChatReport | Dashboard</title>
        <include-html("../utils/header.html") />
    </head>
    <body>
        <div class="columns">
            <div class="box one-third">
                <h1>Dashboard</h1>
                <label>Welcome ${input.username}!</label>
                <if(input.user.isAdmin)>
                    <a href="/admin/users">User Management</a>
                </if>
            </div>
            <div class="box two-thirds">
                <table>
                    <thead>
                        <tr>
                            <th>Reported User</th>
                            <th>Status</th>
                            <th>Opened</th>
                        </tr>
                    </thead>
                    <tbody>
                        <for|report| of=input.reports>
                            <tr>
                                <td><a href="/dashboard/reports/" + report.id >${report.reportedUsername}</a></td>
                                <td>
                                    <if(report.assignedTo === input.user.id)>
                                        Assigned
                                    </if>
                                    <else-if(report.assignedTo !== null)>
                                        Claimed
                                    </else-if>
                                    <else>
                                        Open
                                    </else>
                                </td>
                                <td>${report.createdAt}</td>
                            </tr>
                        </for>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>