<!DOCTYPE html>
<html>
    <head>
        <title>ChatReport | Login</title>
        <include-html("../utils/header.html") />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Identification</th>
                    <th>Status</th>
                    <th>Opened</th>
                </tr>
            </thead>
            <tbody>
                <for|report| of=input.reports>
                    <tr>
                        <td><a href="/dashboard/reports/" + report.id >${report.reportedUUID}</a></td>
                        <td>
                            <if(report.assignedTo != null)>
                                Assigned
                            </if>
                            <else>
                                Open
                            </else>
                        </td>
                        <td>${report.createdAt}</td>
                    </tr>
                </for>
            </tbody>
        </table>
    </body>
</html>