<!DOCTYPE html>
<html>
    <head>
        <title>ChatReport | Register</title>
        <include-html("./utils/header.html") />
    </head>
    <body>
        Please go in-game and verify your permissions with the code <strong>${input.code}</strong>
    </body>
</html>